.logo {
    width: 194px;
    margin-right: 120px;
    margin-left: 160px;
    margin-top: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
    color: #2E266F;
    font-weight: bold;
    margin-right: 50px;
}

.nav-li {
   height: fit-content;
   vertical-align: middle;
   font-family: poppins;
   font-size: 15px;
   font-weight: 600;
}

.nav-li:hover {
    font-size: 17px;

}
.first-div {
    width: 1007px;
    position: relative;
}

.second-div {
    background-color: #FFAF00;
    width: 100%;
    height: 1210px; 
}

.food-img-2 {
    position: absolute;
    left: 700px;
    top: 130px;
    width: 900px;
}

.food-img-1 {
    position: absolute;
    left: 780px;
    top: 140px;
}

.food-img-3 {
    position: absolute;
    left: 780px;
    top: 545px;
}

.lettuce-img {
    position: absolute;
    left: 950px;
    width: 500px;
    top: -80px;
}

.first-page-section {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

h1 {
    margin-left: 160px;
    margin-top: 260px;
    font-size: 50px;
    color: #2E266F;
    font-weight: bold;
    width: 550px;
    font-family: poppins;
}

.first-form {
    margin-left: 160px;
    margin-top: 45px;
    background-color: none;
    width: 470px;
    height: 80px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
}

.first-button {
    width: 150px;
    height: 70px;
    outline: none;
    border: none;
    background-color: #FFAF00;
    color: white;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 600;
    border-radius: 55px 0 0 0;
}

.first-button:hover {
    background-color: #BB943E;
}
.search-bar {
    width: 300px;
    height: 80px;
    border: none;
}

.search-bar:focus {
    background-color: #EEE8E8;
    outline: none;
}

.search-bar::placeholder {
    padding-left: 20px;
    font-size: 14px;
    font-family: Poppins;
    color: #2E266F;
}

.left-location-sign {
    background-color: #FFAF00;
    width: 270px;
    height: 70px;
    margin-top: 150px;
    text-align: center; 
    display: flex;
    align-items: center;
    border-radius: 0 35px 35px 0;
}

.left-location-sign:hover {
    background-color: #BB943E;
}

.karachi {
    vertical-align: middle;
    font-size: 25px;
    width: 80px;
    font-weight: 600;
    font-family: Poppins;
    color: white;
}

.fas {
    font-size: 25px;
    color: white;
    margin-right: 30px;
    margin-left: 30px;
}
.second-section-first-div {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin: 0 auto;
}
.second-section-right-line {
    background-color: #FFAF00;
    width: 20px;
    height: 80px;
}
h2 {
    width: 450px;
    color: #2E266F;
    font-family: Poppins;
    font-weight: 600;
    font-size: 40px;
    margin-left: 40px;
}
.left-p {
    color: #707070;
    font-family: Poppins;
    font-size: 20px;
    width: 700px;
    font-weight: 300;
    margin-left: 150px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.burger-image1 {
    width: 550px;
    margin-right: 60px;
    position: relative;
    
}
.burger-img-div {
    margin-top: 200px;
    position: relative;
}
.dots {
   position: absolute;
   bottom: 200px;
   left: -150px;
   z-index: -1;
}
.dots1 {
    position: absolute;
    top: 170px;
    left: 780px; 
    z-index: -1;
}
.box-div {
    position: absolute;
    bottom: 3px;
    background-color: rgb(255, 175, 0);
    width: 550px;
    height: 230px;
    opacity: 69%;
    border-radius: 0 0 11px 11px;
}
.h3-div {
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 350px;
}
.box-div-title {
    color: white;
    font-size: 40px;
    font-weight: bold;
    font-family: Poppins;
    margin-left: 20px;
}
.burger-p {
    width: 400px;
    margin-left: 20px;
    margin-top: 15px;
    font-family: Poppins;
    color: white;
}
.karachi2 {
   font-size: 20px;
   color: white;
   font-family: Poppins;
   display: inline-block;
}

.location-button-div {
    display: inline-block;
    margin-top: 20px;
}

.location-logo {
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.book-button {
    margin-left: 350px;
    width: 150px;
    height: 50px;
    color: #FFAF00;
    font-size: 15px;
    font-family: Poppins;
    font-weight: 600;
    background-color: white;
    border: none;
}

.book-button:hover {
    background-color: #EEEEEE;
}

.box-div:nth-col {
    position: absolute;
    bottom: 3px;
    background-color: rgb(255, 175, 0);
    width: 550px;
    height: 230px;
    opacity: 69%;
}

.h3-div1 {
    display: inline-block;
    position: absolute;
    left: 614px;
    top: 350px;  
}

.box-div1 {
    position: absolute;
    bottom: 3px;
    background-color: rgb(255, 175, 0);
    width: 550px;
    height: 230px;
    opacity: 69%;
    left: 614px;
    border-radius: 0 0 11px 11px;
}

.third-section {
    margin-top: 150px;
    
}

.third-section-first-div {
    width: 1400px;
    margin: 0 auto;
}

.third-section-h5 {
    color: #2E266F;
    font-size: 29px;
    font-family: Poppins;
    margin: 0 auto;
    width: 280px;
    margin-bottom: 40px;
}

.third-section-p {
    color: #AEB2B4;
    font-family: Poppins;
    font-size: 15px;
    width: 650px;
    margin: 0 auto;
    text-align: center;
}

body {
    background-color: #F8FDFF;
}

.foods-div {
   width: 1300px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 0 auto;
}

.foods-small-divs {
    height: 440px;
    background-color: white;
    width: 392px;
    margin-top: 60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 12px;
}

.foods-box-h6 {
    color: #0C3653;
    font-family: Poppins;
    font-size: 15px;
    margin-left: 25px;
    margin-top: -12px;
}

.foods-box-p {
    color: #AEB2B4;
    font-size: 14px;
    font-family: Poppins;
    width: 300px;
    margin-left: 25px;
    margin-top: 35px;
}

.price {
    color: #FEB618;
    font-size: 25px;
    margin-top: 25px;
    margin-left: 250px;
    width: fit-content;
    font-family: 'Bree Serif';
}

.last-section {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.seemorediv {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    width: 300px;
    margin-left: 680px;
    margin-top: -250px;
}

.seemorep {
    color: #FFAF00;
    font-family: Poppins;
    font-size: 32px;
    width: 150px;
}

.fa-long-arrow-alt-right {
    color: #FFAF00;
    font-size: 30px;
    width: 30px;
}

.last-button {
    width: 70px;
    height: 70px;
    outline: none;
    border: none;
    background-color: #FFAF00;
    color: white;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 600;
    border-radius: 50px 50px 50px 50px;

}

.last-section-divier {
    display: flex;
    flex-direction: column;
}

.footer-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
    margin-bottom: 220px;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    font-family: Poppins;
    color: #2E266F;
}

.second-form {
    background-color: white;
    width: 470px;
    height: 80px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0 auto;
}

.search-bar-second {
    width: 470px;
    height: 80px;
    border: none;
    border-radius: 50px;
}

.search-bar-second:focus {
    background-color: #EEE8E8;
    outline: none;
}

.search-bar-second::placeholder {
    padding-left: 20px;
    font-size: 20px;
    font-family: Poppins;
    color: #2E266F;
}

.second-button {
    width: 60px;
    height: 60px;
    outline: none;
    border: none;
    background-color: #FFAF00;
    color: white;
    font-size: 25px;
    font-family: Poppins;
    font-weight: 600;
    border-radius: 100px;
    margin-right: 15px;
}

.fa-arrow-right {
    margin: 0 auto;
}

.contactsectiontitle {
    margin-top: 100px;
    width: 700px;
    font-size: 40px;
    font-family: Poppins;
    color: #273164;
    font-weight: bold;
    text-align: center;
}

.neww {
    margin-top: 10px;
    width: 700px;
    margin-bottom: 100px;
}

.last-footer-paragraph {
    font-family: Poppins;
    color: #273164;
    text-align: center;
    margin-bottom: 10px;
    font-size: 15px;
}

.p-new {
    margin-bottom: 100px;
}

.copyright {
    font-family: Poppins;
    font-size: 10px;
    margin: 0 auto;
}

.icons {
    display: flex;
    flex-direction: row;
    width: 120px;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
}

footer {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.advanced-div {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1400px;
}

.ourservice {
    color: #2E266F;
    font-family: Poppins;
    font-size: 45px;
}

.left-p1 {
    color: #707070;
    font-family: Poppins;
    font-size: 20px;
    width: 700px;
    font-weight: 300;
    margin-left: 150px;
    line-height: 1.5;
    letter-spacing: 1px;
}

.advanced-div2 {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.left-adv-div {
    width: 700px;
    height: 600px;
}

.right-adv-div {
    width: 600px;
    height: 600px;
    background-color: chocolate;
}

.left-adv-div {
    display: flex;
    flex-wrap: wrap;
}

.first-box {
    width: 280px;
    height: 280px;
    background-color: #FFF3D8;
    align-items: center;
    align-content: center;
}

.imgbox {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.first-box-h4 {
    color: #2E266F;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    width: 180px;
}

.first-box-p {
    color: #707070;
    font-family: Poppins;
}

.imgbox1 {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.appdiv {
    display: flex;

    width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
}

.advanced-booking {
    background-color: #EFF7FB;  
}

.yellowleftline {
    background-color: #FFAF00;
    width: 20px;
    height: 80px;
}

.app1div {
    display: flex;
    margin-top: 300px;
}

.downapp {
    width: 350px;
    height: 50px;
    margin-left: 50px;
    color: #2E266F;
    font-size: 40px;
    font-family: Poppins;
    font-weight: 600;
}

.appP {
   color: #707070;
   margin-top: 50px;
   margin-left: 75px;
   font-family: Poppins;
   font-size: 20px;
   width: 350px;
}

.socicon {
    width: 150px;
    margin-right: 15px;
}

.socialicons {
    margin-left: 75px;
    margin-top: 50px;
    
}


